<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNgMavenExampleSuite" parallel="false">
  <test name="TestNgMavenTest">
    <classes>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenExample1"/>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenSecondClass1"/>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenThirdClass1"/>
    </classes>
  </test>
</suite>
