<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNgMavenExampleSuite" parallel="false">
  <test name="TestNgMavenTest">
    <classes>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenExample"/>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenSecondClass"/>
      <class name="com.javacodegeeks.testng.maven.TestNgMavenThirdClass"/>
    </classes>
  </test>
</suite>
